# Python files.
build
venv
env
__pycache__

# Project development files.
.env
notes

# Customs folder.
temp
sounds/*
/config.json
!sounds/Playlist Name/
sounds/Playlist Name/Sound Name.mp3

# IDE configurations.
.idea
.vscode